.pc{
    display: none;
}

header{
    width: 100%;
    height: 60px;
    position: relative;
}

.hWrap{
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center;
    margin-top: 18px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btnNav{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.btnNav span{
    width: 28px;
    height: 2px;
    border-radius: 50px;
    background-color: #333;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6px;
}

.btnNav span:last-child{margin-bottom: 0;}

nav{
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background-color: #111;
    z-index: 999;
}

.btnClose{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 25px;
    right: 20px;
}

.btnClose span{
    width: 32px;
    height: 4px;
    border-radius: 50px;
    background-color: #fff;
    display: block;
    position: absolute;
    top: 23.5px;
    right: 12px;
}

.btnClose span:first-child{
    transform: rotate(45deg);
}

.btnClose span:last-child{
    transform: rotate(-45deg);
}

.gnb{
    font-size: 22px;
    color: #fff;
    margin: 75px 40px 40px;
    font-weight: 600;
}

.gnb li{
    margin-bottom: 14px;
    border-bottom: 1px solid #fff;
    padding-bottom: 14px;
}

.gnb li span{
    color: #fd7d86;
}

.gnb li:last-child{
    border-bottom: none;
}

.gnb li:hover{
    color: #ffcccc;
    border-bottom: 1px solid #ffcccc;
}

.gnb li:last-child:hover{
    color: #fd7d86;
    border-bottom: none;
}

.util{
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}

.util li{
    margin-right: 10px;
}

.util li::after{
    content: '|';
    margin-left: 10px;
}

.util li:last-child::after{
    content: none;
}

.bn{
    width: 100%;
}

.bn a img{
    width: 100%;
}

/* main s1*/
main{
    margin-top: 40px;
    margin-left: 40px;
}

h3{
    font-size: 30px;
    font-weight: 800;
    font-family: pretendard;
}

.s1 .con{
    display: flex;
}

.s1 .item{
    width: 269px;
    height: 330px;
    margin-top: 16px;
    border-radius: 15px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    margin-right: 30px;
    position: relative;
}

.s1 img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.play{
    position: absolute;
    bottom: 84px;
    right: 10px;
}

.s1 .txt{
    text-align: center;
    margin-top: 14px;
    font-family: pretendard;
}

.txt strong{
    font-size: 16px;
    color: #000;
}

.txt p{
    margin-top: 4px;
    font-size: 14px;
    color: #444;
}


/* s2 */
.s2{
    margin-top: 56px;
}

.s2 .item{
    margin-top: 16px;
    width: 90%;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    text-align: center;
}

.s2 h4{
    color: #ec5b63;
    font-size: 26px;
    padding-top: 12px;
}

.s2 .speaker{
    padding-top: 12px;
}

.s2 .click{
    display: flex;
    justify-content: space-between;
    padding: 18px 14px 18px;
}

.s2 .click a{
    width: 50%;
    height: 46px;
    border: 1px solid #bbb;
    border-radius: 6px;
    margin-right: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s2 .click a:last-child{
    margin-right: 0;
}

.s2 p{
    font-size: 14px;
    color: #444;
    font-weight: bold;
}

.s2 .click a:hover{
    background-color: #eee;
}


/* s3 */
.s3{
    margin-top: 56px;
}

.s3 .con{
    margin-top: 16px;
    width: 90%;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 15px 23px 15px;
    display: flex;
    box-sizing: border-box;
}

.s3 .con img{
    width: 100%;
}

.msBox{
    margin-right: 26px;
    position: relative;
    
}

.msBox:last-child{
    margin-right: 0;
}

.msBox p{
    position: absolute;
    top: 14px;
    left: 14px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}



/* s4 */
.s4{
    margin-top: 56px;
}

.s4 .con{
    display: flex;
}

.s4 .item{
    width: 269px;
    height: 330px;
    margin-top: 16px;
    border-radius: 15px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    margin-right: 30px;
    position: relative;
}

.s4 img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.play{
    position: absolute;
    bottom: 84px;
    right: 10px;
}

.s4 .txt{
    text-align: center;
    margin-top: 14px;
    font-family: pretendard;
}

.txt strong{
    font-size: 16px;
    color: #000;
}

.txt p{
    margin-top: 4px;
    font-size: 14px;
    color: #444;
}


/* s5 */
.s5{
    margin-top: 56px;
}

.s5 .con{
    display: flex;
}

.s5 .item{
    width: 269px;
    height: 330px;
    margin-top: 16px;
    border-radius: 15px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    margin-right: 30px;
    position: relative;
}

.s5 img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.play{
    position: absolute;
    bottom: 84px;
    right: 10px;
}

.s5 .txt{
    text-align: center;
    margin-top: 14px;
    font-family: pretendard;
}

.s5 .item:first-child .txt{
    margin-top: 30px;
}

.txt strong{
    font-size: 16px;
    color: #000;
}

.txt p{
    margin-top: 4px;
    font-size: 14px;
    color: #444;
}

/* miniBn */
.miniBn{
    width: 100%;
    height: 200px;
    background-image: url(../images/lightning.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 56px;
}

.miniBn .txt{
    padding-top: 24px;
    text-align: center;
}

.miniBn p{
    color: #fff;
    font-size: 20px;
    font-family: 'SBAggroM';
    text-shadow: 1px 1px 5px #c956fe;
}

.miniBn h4{
    color: #fff;
    font-size: 40px;
    font-family: 'SBAggroB';
    text-shadow: 1px 1px 5px #c956fe;
}

.miniBn h4 span{
    color: yellow;
}

/* review */
.review{
    height: 950px;
    margin-left: auto;
    margin-right: auto;
}

.review h3{
    text-align: center;
    margin: 70px 0 30px;
}

.review .con{
    margin-left: auto;
    margin-right: auto;
}

.review .box{
    width: 490px;
    height: 340px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f3f3f3;
    text-align: center;
    margin-bottom: 30px;
}

.review .txt{
    padding-top: 47px;
}

.review .light{
    display: block;
    padding-top: 25px;
    margin-left: auto;
    margin-right: auto;
}
.review .txt p{
    margin-top: 14px;
    font-size: 12px;
    color: #5d5d5d;
    font-family: 'pretendard';
}

.review button{
    width: 170px;
    height: 45px;
    border-radius: 50px;
    background-color: #f12f38;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: 'pretendard';
    font-size: 16px;
    font-weight: 500;
}

/*footer*/
footer{

}

.deepgray{
    height: 35px;
    background-color: #a2a2a2;
    display: flex;
}

.deepgray ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deepgray li{
    font-size: 12px;
    font-family: 'pretendard';
    color: #fff;
    font-weight: 500;
}

.deepgray li::after{
    content: '|';
    padding-left: 10px;
    margin-right: 10px;
}

.deepgray li:last-child::after{
    content: none;
}

.gray{
    height: 100%;
    background-color: #f3f3f3;
    text-align: center;
    padding-top: 20px;
}

.sns{
    margin-top: 10px;
}

.sns .color{
    display: none;
}


address{
    margin-top: 10px;
    font-style: normal;
    font-family: 'pretendard';
    color: #a2a2a2;
    text-align: left;
    font-size: 10px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}